{%extends "base.html" %}

{%block content%}
{% load static %}
<div style="background-color: #fff6f8; min-height: 100vh; padding: 40px;">  <!-- 💗 açık pembe ton -->
<div class="d-flex flex-wrap justify-content-center gap-4">
<div class="card" style="width: 18rem;">
  <img src="{% static 'nbeauty/nem.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">For every skin</p>
    <p class="card-text">8$</p>
    <button type="submit">Buy</button>
  </div>
</div>


{%endblock%}
