{%extends "base.html" %}

{%block content%}
{% load static %}
<div style="background-color: #fff6f8; min-height: 100vh; padding: 40px;">  
<div class="d-flex flex-wrap justify-content-center gap-4">
<div class="card" style="width: 18rem;">
  <img src="{% static 'nbeauty/toner.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Purifying Toner for Acne & Blackheads</p>
    <p class="card-text">10$</p>
    <button type="button" class="btn btn-outline-success">Buy</button>
  </div>
</div>


{%endblock%}
